.CharacterInteractions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: white;

  h2 {
    color: #664229;
  }
}

.CharacterInteractions__character-bg {
  position: relative;
  width: 100%;
  background-color: #1F5198;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

.CharacterInteractions__character {
  position: absolute;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  border-radius: 16px;
}

.CharacterInteractions__input {
  display: flex;
  width: 100%;
  flex: 1;  
  background-color: transparent;
  border-color: #664229;
  border-radius: 16px;
  border-width: 4px;
  font-size: 2rem;
  color: #664229;
  padding: 0.5rem;
}